<div class="chart-container">
  <ngx-charts-pie-chart
    [view]="view"
    [results]="chartData$ | async"
    [scheme]="colorScheme"
    [legend]="false"
    [labels]="true"
    [doughnut]="true"
    [arcWidth]="0.4"
    [animations]="true"
    [tooltipDisabled]="false">
  </ngx-charts-pie-chart>

  <div>{{ tasksCount$ | async }}</div>

  @if(tasksCount$ | async) {
    <div class="custom-legend">
      <h3 class="legend-title">Columns</h3>
      <div class="legend-items">
        @for (item of chartData$ | async; track $index) {
          <div class="legend-item">
            <div class="legend-color" [style.background-color]="colorScheme.domain[$index]"></div>
            <span class="legend-text">{{ item.name }}</span>
          </div>
        }
      </div>
    </div>
  }
</div>
