<div class="header">
  <div class="wrapper">
    <h1 class="description" [class.with-team]="teamName$ | async">Project management tool prototype</h1>
    @if (teamName$ | async) {
      <div class="team-name">{{ teamName$ | async }}</div>
    }
  </div>
  <div class="personal-information">
    <button class="initials" [matMenuTriggerFor]="beforeMenu" [ngStyle]="{'background-color': userColor}">{{ initials$ | async }}</button>
    <mat-menu class="menu" #beforeMenu="matMenu" xPosition="before">
      <div class="name-wrapper">
        <div class="name-surname">{{ userName$ | async }}</div>
      </div>
      @if (isAdmin$ | async) {
        <div class="admin-panel">
          <button mat-raised-button (click)="openAdminPanel()"><mat-icon>admin_panel_settings</mat-icon>Admin Panel</button>
        </div>
      }
      <div class="logout">

        <button mat-raised-button (click)="logout()"><mat-icon>logout</mat-icon>Log Out</button>
      </div>
    </mat-menu>
  </div>
</div>
