<div class="header" [ngClass]="'column-' + columnIndex">
  <h2 class="title">{{ list.title }}</h2>

  <div class="interactions">
    @if (showButton) {
      <button mat-raised-button class="buttons" (click)="editColumn()">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="buttons add-button" mat-button (click)="openAddTodoWindow()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </div>

</div>

<div class="example-container">
  <div
    cdkDropList
    class="example-list"
    [id]="list.id"
    [cdkDropListData]="(tasks$ | async) || []"
    (cdkDropListDropped)="drop($event)">
    @for (task of (tasks$ | async); track task.id) {
      <app-task [task]="task"></app-task>
    }
  </div>
</div>
