<app-header></app-header>

<div class="admin-container">
        <div class="top-section">
          <div class="project-name">Project</div>
          <button class="btn btn-secondary">Change Project Name</button>
        </div>

        <div class="users-section">
            <div class="card-header">
                <h2>Team Members</h2>
                <button class="btn btn-success">+ Add New User</button>
            </div>

            <div class="user-list">
              @for (user of realUsersList$ | async; track $index) {
                <app-team-member [user]="user" [teamId]="(team$ | async)?.id ?? ''"></app-team-member>
              }
            </div>
        </div>
    </div>
