<div class="register-form">
  <form [formGroup]="registerForm" novalidate>
    <div class="inputs-wrapper">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="name" matInput formControlName="name" placeholder="Mihail">
        @if (name?.hasError('minlength')) {
          <mat-error>Please enter minimum 2 characters</mat-error>
        }

        @if (name?.hasError('maxlength')) {
          <mat-error>Please enter maximum 20 characters</mat-error>
        }

        @if (name?.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Surname</mat-label>
        <input type="name" matInput formControlName="surname" placeholder="Yankovskyi">
        @if (surname?.hasError('minlength')) {
          <mat-error>Please enter minimum 2 characters</mat-error>
        }

        @if (surname?.hasError('maxlength')) {
          <mat-error>Please enter maximum 20 characters</mat-error>
        }

        @if (surname?.hasError('required')) {
          <mat-error>Surname is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        @if (email?.hasError('email') && !email?.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }

        @if (email?.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        @if (password?.hasError('minlength')) {
          <mat-error>Please enter minimum 6 characters</mat-error>
        }

        @if (password?.hasError('maxlength')) {
          <mat-error>Please enter maximum 15 characters</mat-error>
        }

        @if (password?.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Repeat the password</mat-label>
        <input type="password" matInput formControlName="secondPassword">
        @if (registerForm.get('password')?.value !== secondPassword?.value) {
          <mat-error>Your passwords must match. Please re-enter</mat-error>
        }
      </mat-form-field>

      <div class="button-wrapper">
        <button mat-flat-button (click)="register()">Register</button>
      </div>
    </div>
  </form>

  <div class="login">
    <span>Already a member?</span>
    <a class="login-link" href="login">Login now</a>
  </div>
</div>
